/.metadata/
**/application.properties
**/application.yml
**/.env


# Eclipse/IDE files
.metadata/
.settings/
.classpath
.project

# Build output
target/


# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Maven
target/

# Logs
*.log

/.metadata/
**/application.yaml
**/.env